.card-grid-content {
  display: flex;
  flex-direction: column;
  width: 414px;
  height: 631px;
  align-items: flex-start;
  gap: var(--size-space-1200);
  padding: var(--size-space-600);
  position: relative;
}

.card-grid-content .cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-space-1200);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -6px;
}

.card-grid-content .card {
  display: flex;
  flex-wrap: wrap;
  min-width: 240px;
  align-items: flex-start;
  gap: var(--size-space-600);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.card-grid-content .image {
  position: relative;
  width: 160px;
  height: 160px;
  background-image: url(./img/image-7.png);
  background-size: cover;
  background-position: 50% 50%;
}

.card-grid-content .body {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  align-items: flex-start;
  gap: var(--size-space-400);
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.card-grid-content .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-space-200);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.card-grid-content .title {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: #034464;
  font-size: var(--heading-font-size);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
  font-style: var(--heading-font-style);
}

.card-grid-content .body-text-for {
  position: relative;
  align-self: stretch;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: #ffffff;
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
}

.card-grid-content .button-group {
  display: flex;
  align-items: center;
  gap: var(--size-space-400);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.card-grid-content .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-background-neutral-tertiary);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: #ffffff;
}

.card-grid-content .text-wrapper {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #034464;
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.card-grid-content .div {
  background-image: url(./img/image-8.png);
  position: relative;
  width: 160px;
  height: 160px;
  background-size: cover;
  background-position: 50% 50%;
}

.card-grid-content .image-2 {
  background-image: url(./img/image-9.png);
  position: relative;
  width: 160px;
  height: 160px;
  background-size: cover;
  background-position: 50% 50%;
}
